body {
    margin: 60px auto; 
    width: 80%; 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #434E3C;
}

a { text-decoration: none; color: #006699; }
a:hover { text-decoration: underline; }
p, ul { font-size: 1.5em; line-height: 1.4em;}


h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }

/* Nav bar */
nav ul {
    font-size: 1em; 
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    padding: 0px; 
    list-style: none; 
    font-weight: bold;
}
nav ul li { display: inline; margin-right: 20px; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

hr {
    height: 5px;
    margin-left: auto;
    margin-right: 20%;
    border: none;
    background-color: lightblue;
}


.contact_info {
  display: flex;
}


/* My picture */
.mypic {
    width: auto;
    max-height: 300px;
    margin-left: 40%;
    margin-bottom: 5%;
    border: solid black;
    border-width: 5px;
}

.lightning_info {
    font-size:.9em;
}

.tip_parts {
    padding-top: 15px;
    font-size: 0.9em;
}

table.ln_table {
    margin-bottom: 15px;
    font-family: 'Arial';
}

table {
}

th {
    background: lightblue;
    border-color: white;
}

tr {
    border: 1px solid #999;
    padding: 0.5rem;
}

.lightning_tip {
    font-family: 'Arial';
    font-size: 1.2em;
}

.input_amount {
    border-radius: .5em;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

.input_readonly {
    border-radius: .5em;
    background-color: palegreen;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
}

button {
    border-radius: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: navy;
    border-color: black;
    color: white;
    padding: 10px 10px;
    border-width: 5px;
    text-align: center;
    font-size: 1.0em;
}

button:disabled {
    background-color: lightgray;
}

button:active {
    background-color: lightblue;
}

.column {
    float: left;
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px 10px;
}

.bolt {
    width: 60%;
    padding: 10px;
    border-radius: .5em;
    border: solid gray;
    border-width: 1px;
    word-wrap: break-word;
}

.info_footer {
    border-top: 1px solid lightgray;
    font-size: 0.5em;
}
