body {
    margin: 60px auto; 
    width: 70%; 
    height: 100%;
    background-repeat: no-repeat;
    background-color: #EEEEEE;
    background-attachment: fixed;
    color: #434E3C;
}

a { text-decoration: none; color: #006699; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em;}

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: .9em; }

/* Nav bar */
nav ul {
    font-size: 1em; 
    font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    padding: 0px; 
    list-style: none; 
    font-weight: bold;
}
nav ul li { display: inline; margin-right: 20px; }

/* Donate footer */
footer { border-top: 1px solid #d5d5d5; padding 2px; font-size: .9em; }
footer td {padding: 0 10px 0 0}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

.flex-container {
  display: flex;
}

/* My picture */
.mypic {
    width: auto;
    max-height: 300px;
    margin-left: 40%;
    margin-bottom: 5%;
    border: solid black;
    border-width: 5px;
}
