<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv/CV_Conor_Scott.pdf">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
    <h4>Donate</h4>
    <table>
        <tr>
          <td>BTC</td>
          <td>1NoZkz1neig1DtDy6etwYB9fgHqEv3oesG</td>
        </tr>
        <tr>
          <td>BTC (Bech32)</td>
          <td>bc1q52ru4udqk9nnqz4hcg7ukq0wruld6hny43xjj3</td>
        </tr>
        <tr>
          <td>LTC</td>
          <td>LhuK5iUnxVtYc1kXc8eQEEMYJeErjFwPnB</td>
        </tr>
        <tr>
          <td>Monero</td>
          <td>46bJMZguapYeJC8Zpz8UrF8qUY7zh1uHcNhixbuZojUfgAqoNAVNCZCHjmsyfL2p5LeRvhwvcpCeL4KNpbyPv9yAEKHDoUH</td>
        </tr>
      </table>
  </footer>
  </body>

</html>
