<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv/CV_Conor_Scott.pdf">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
      <p>Donate</p>
      <p>1NoZkz1neig1DtDy6etwYB9fgHqEv3oesG</p>
      <p>bc1q52ru4udqk9nnqz4hcg7ukq0wruld6hny43xjj3</p>
  </footer>
  </body>

</html>
